.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

.header {
    height: 20%;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    gap: 10px;
}

.cancel_button,
.delete_button {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17A2B8;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

.cancel_button {
    color: #FF4B4B;
    background-color: #FFF;
    border: 1px solid #FF4B4B;
}