.main {
    padding: 2%;
    height: 100%;
}

.container {
    border-radius: 20px;
    background: #FFF;
    padding: 24px 19px 19px 24px;
    justify-content: center;
    display: flex;
    max-height: 95%;
}

.header,
.priority_container,
.icon_container,
.check_list_conainer,
.chip_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-bottom: 3%;
}

.task_list_conainer {
    margin-bottom: 2%;
    max-height: 80%;
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    margin-right: 10px;
}

.image_header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.due_date {
    width: 100%;
    display: flex;
    align-items: center;
}

.chip {
    margin-left: 10px;
}

.priority_circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 5px;
    background: green;
}

.priority,
.title {
    font-size: 9px;
    line-height: 12px;
    font-weight: 500;
    color: #707070;
}

.icon {
    cursor: pointer;
}

.title {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    margin-bottom: 3%;
}

.check_list_conainer {
    margin-bottom: 12px;
}

.check_list {
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.angle_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    background: #EEECEC;
    height: 24px;
    width: 24px;
}

.task_chip_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
    gap: 10px;
    overflow-y: scroll;
    max-height: 90%;
}

.task {
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.initials {
    margin-left: 5px;
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 8px;
    border-radius: 50%;
    background-color: #FFEBEB;
    object-fit: cover;
    margin-inline-end: 1rem;
    justify-content: center;
    align-items: center;
}

.body {
    width: 50%;
    display: flex;
    padding: 2%;
    flex-direction: column;
    border: 2px solid #EDF5FE;
    border-radius: 12px;
}

@media only screen and (max-width: 768px) {

    .main {
        padding: 5%;
    }

    .container {
        padding: 24px 0px 19px 0px;
    }

    .body {
        width: 100%;
        padding: 4%;
        border-radius: 20px;;
    }

    .task_list_conainer {
        max-height: 88%
    }
}